<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>welcome.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>servletMainpage</servlet-name>
    <servlet-class>servlet.MainpageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletMainpage</servlet-name>
    <url-pattern>/servletMainpage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>servletArticle</servlet-name>
    <servlet-class>servlet.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletArticle</servlet-name>
    <url-pattern>/servletArticle</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>servletWelcome</servlet-name>
    <servlet-class>servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletWelcome</servlet-name>
    <url-pattern>/servletWelcome</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>servletLogin</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletLogin</servlet-name>
    <url-pattern>/servletLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>servletWrite</servlet-name>
    <servlet-class>servlet.WriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletWrite</servlet-name>
    <url-pattern>/servletWrite</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>servletComment</servlet-name>
    <servlet-class>servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletComment</servlet-name>
    <url-pattern>/servletComment</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>servletCommentpage</servlet-name>
    <servlet-class>servlet.CommentpageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletCommentpage</servlet-name>
    <url-pattern>/servletCommentpage</url-pattern>
  </servlet-mapping>
</web-app>